{% extends 'base.html' %}


{% block content %}

      {% if user.is_authenticated %}

            <h2> Hello {{user.username}}</h2>

            This is Auth Index.html  and you logged in
            
             {% if form_user.profile_pic %}

            <img src="{{form_user.profile_pic.url}}" style="width: 200px; float: left; margin-right: 10px;"/>

            {% endif %}
            <button class='btn btn-primary'><a class='text-decoration-none' href="{%url 'authusers:logout' %}">Logout</a></button>

      {% else %}

            <p><h3>Please Login to see this page</h3></p> 
            <button class='btn btn-primary'><a class='text-decoration-none text-light' href="{%url 'login' %}">Login</a></button>
      {% endif %}
      


  {% endblock content %}