{% extends 'base.html' %}
{% load static %}

{% block student_update %}

    <h2>Student Detail Page</h2>
    <h3>This is {{student.first_name}}'s detail Page </h3>
    <h5>Name :{{student.first_name}} </h5>
    <h5>Last Name :{{student.last_name}} </h5>
    <h5>Number :{{student.number}} </h5>

    
        {% if student.profile_pic %}
     <img src="{{student.profile_pic.url}}" class="img-responsive" style="width: 200px; float: left; margin-right: 10px;"/>
{% endif %}

    <button type="submit" class='btn btn-dark me-2'>  <a class='text-decoration-none ' href=" {%url 'cbv_model:cbvupdate' student.id%}">Update</a> </button>
    <button type="submit" class='btn btn-danger me-2'>  <a class='text-decoration-none ' href=" {% url 'cbv_model:cbvdelete' student.id %}">Delete</a> </button>
    <button type="submit" class='btn btn-primary'>  <a class='text-decoration-none text-light' href=" {% url 'cbv_model:cbv'%}">List Page</a> </button>

{% endblock student_update %}